/* iCheck path fix
   ========================================================================== */
.icheckbox_minimal,
.iradio_minimal {
  background: url(../images/icheck/minimal.png) no-repeat;
  margin-right: 5px;
}

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  .icheckbox_minimal,
  .iradio_minimal {
    background-image: url(../images/icheck/minimal@2x.png);
  }
}

/* Responsive fix
   ========================================================================== */
table.dataTable.nowrap .dtr-data {
  white-space: normal !important;
}
img.full-width {
  width: 100%;
}

/* Helpers
   ========================================================================== */
.no-padding-right{
  padding-right: 0 !important;
}
.no-padding-left{
  padding-left:0 !important;
}